

.image-container {
   background: none ;
   padding: 0 ;
   border: none ;
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .image-button {
  border: 1px solid black !important; 
  border-radius: 20px;
  padding: 2px !important;
  min-width: 50px ;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  cursor: pointer;
}


.table-container {
  overflow-y: auto;
}

.basic-details {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    
    font-size: 13px;
    background-color: whitesmoke;
}
.sub-headings{
  border-radius: 5px;
  margin-bottom: 10px;
  padding:  5px 10px;

}
.basic-details p {
  margin: 4px 0;
}


/* .photo-cell {
    max-width: 200px; 
    overflow: auto; 
  }
  
  .photo-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px; 
  } */

  /* .text-area-for-view {
   resize: none !important;  
  overflow: auto;  
    font-family: inherit;
    font-size: '15px';
     width: 99.5%; 
    padding: 8px 12px;
    border-radius: 5px;

  } */

  .table-container-for-view {
    min-height: fit-content;
    max-height: 55vh; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    border-radius: 4px;
  }
  .chart-container-for-report {
  display: flex;
  flex-direction: column;  
  gap: 20px;              
  width: 100%;
}

.css-ahj2mt-MuiTypography-root{
  font-size: 14px !important
}

