.inspection-screen {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-height: 90vh; /* Set the height to viewport height */
}

.inspection-content {
  flex: 1;
  overflow-y: auto; /* Make the content scrollable */
  padding-right: 20px; /* Add some padding to prevent scrollbar overlap */
}

.inspection-screen h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.inspection-screen p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.page {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.page h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.question select,
.question input[type="text"],
.question input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.question input[type="checkbox"] {
  margin-right: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; /* Add some padding for spacing */
  background-color: #f9f9f9; /* Same as the background to blend in */
}

.navigation-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navigation-buttons button:not(:disabled):hover {
  background-color: #0056b3;
}
