.new-report {
  text-align: center;
   height: 100vh;
  overflow: auto; 
  box-sizing: border-box;
}

.heading {
  font-size: x-large;
  font-weight: 500;
  background-color: #f1f1f1;
  padding: 20px;
}

.card-holder {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  justify-content: center;
  padding: 30px;
  gap: 30px;
  overflow: auto; /* Enable scrollbars if content exceeds viewport */
}
.card1,
.card2 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  font-size: large;
  cursor: pointer;

}

.new-report::-webkit-scrollbar {
  width: 8px;
}
.new-report::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.new-report::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
  @media (max-width: 900px) {
 .new-report,.notes{
  width: 100vw;
 }
}