/* General Styles */
.notes {
    margin: 0 auto;
    text-align: center;
     overflow: auto;
     box-sizing: border-box;
       height: 100vh;
  /* width: 100vw; */
  }
  
  /* Container Styles */
  .notes-holder {
    background-color: white;
    width: 90%; /* Responsive width */
    max-width: 1000px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    max-height: 400px;
    overflow: hidden; /* Hide overflow on smaller screens */
    min-height: 300px;
  }
  
  /* Heading and Search Bar Styles */
  .notes-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: grey;
    padding: 15px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 70%; /* Responsive width */
  }
  
  .add-note-btn {
    padding: 8px 12px;
    background-color: #efc71d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Notes List Styles */
  .notes-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    width: 100%; /* Responsive width */
    border-radius: 10px;
    text-align: left;
    background-color: whitesmoke;
    overflow-y: auto;
    max-height: 300px;
    min-height: 300px;
  }
  
  /* Individual Note Styles */
  .note-bar {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightgray;
    position: relative;
  }
  
  .note-title {
    font-weight: bold;
  }
  
  .note-description {
    margin-top: 5px;
    color: #555;
  }
  
  /* Ellipsis and Options Styles */
  .ellipsis {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .option {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  
  .no-notes-message {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: grey;
    margin-top: 20px; /* Adjust the margin based on your design */
  }