.modal-container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .modal-content-custom {
    width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 16px;
    position: relative;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .modal-heading-custom {
    margin: 0;
  }
  
  .modal-table-custom {
    min-width: 650px;
  }
  
  .modal-table-custom th,
  .modal-table-custom td {
    padding: 8px 16px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  @media (max-width: 768px) {
    .modal-content-custom {
      width: 100%;
      padding: 8px;
    }
  
    .modal-table-custom th,
    .modal-table-custom td {
      padding: 4px 8px;
    }
  }
  