/* UserProfileModal.css */

/* Custom container class for adjusting modal width */
.custom-modal-width {
    width: 1000px; /* Increase the width as needed */
  }
  
  /* Custom field container classes */
  .user-profile-fields {
    display: flex;
    flex-direction: column;
  }
  
  .password-fields {
    display: flex;
    flex-direction: column;
  }
  
  /* Custom field styles */
  .custom-text-field {
    width: 100%;
  }
  
  /* Custom button styles */
  .custom-primary-button {
    width: 200px;
    align-self: center;
  }

  .profile-picture-label{
    align-self: center;
  }
  
  /* Add these styles to your UserProfileModal.css file or create a new CSS file */

.delete-user-section {
  margin-top: 20px;
}

.delete-confirmation-box {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.delete-confirmation-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.delete-confirmation-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: space-between;
}

.delete-confirmation-buttons button {
  width: 48%; /* Adjust the width as needed */
  box-sizing: border-box;
}

  