/* ViewNote.css */

.view-note {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 60vw;
    height: 80vh;
    margin: 50px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    background-color: whitesmoke;
  }
  
  .view-note header {
    text-align: center;
    background-color: #307268;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    color: #efc71d;
  }
  
  .view-note section {
    margin-bottom: 20px;
  }

  .view-note .select-section {
    display: flex;
    justify-content: space-between;
  }
  
  .view-note .note-select-container {
    width: 48%;
  }
  
  .view-note .image-upload-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 0.05mm;
    border-radius: 5px;
  }
  
  .view-note .image-upload-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .view-note .uploaded-image {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-style: solid;
    border-width: 0.05mm;
    margin-right: 2px;
    border-radius: 10px;
  }
  
  
  .view-note .uploaded-image img {
    margin-right: 10px;
  }
  
  .view-note footer {
    display: flex;
    justify-content: center;
  }
  
  .view-note button {
    width: 48%;
    background-color: #efc71d;
    color: black;
    margin: 5px;
  }

  .view-note button:hover {
    background-color: #bba124;
  }

  .uploading-text {
    font-size: medium;
    font-style: italic;
    font-weight: bold;
    }
    
